.box-container{
  display: flex;
  flex-direction: column;
}

.box-container > div{
	padding: 10px;
	margin: 1em;
	background-color: rgba(0,0,0,.2);
	font-size: 0.8em;
}

.ct-chart .ct-series-a .ct-slice-pie{
	fill:cadetblue;
}
.ct-chart .ct-series-b .ct-slice-pie{
	fill: rgba(255,255,255, .1);
}

.ct-chart .ct-label{
	fill:rgba(255,255,255, .8);
	color: #FFF;
	font-size: 18px;
}
.highlight{
	font-size: 120% !important;
	color: rgb(146, 238, 240)
}
